<div ng-init="getDateOnPageLoad()">
	<h3>Choose a Date:</h3>
	<div>
	<select ng-model="myDate" ng-options="date.name for date in dates">
	  <option>Choose Date</option>
	  <option value ="">{{date.name}}</option>
	</select>
	</div>

	<button type="button" class="btn btn-primary btn-lg" id="getSpecDate" ng-click="getDate()">Get Your Points!</button>

	</br>
	</br>
	</br>
</div>

<div class="container-fluid" id="initiativeContainer">
	<div class="row" id="initiatives" ng-repeat="initiative in wellnessInitiatives">
		<div class="col-md-4 initiativeName">{{initiative.description}}</div>
		<div counter value="initiative.quantity" min="0" class="col-md-3 counter"></div>
		<div class="col-md-2 initiativeTotal">{{initiative.total()}}</div>
	</div>

	<div class="row" id="totalRow">
		<div class="col-md-4" id="hidethis"></div>
		<div class="col-md-3">
		  <button type="button" class="btn btn-primary btn-lg" ng-click="calculateTotalPoints()">Click to Refresh Total</button>
		</div>
		<div class="col-md-2" id="initiativeTotal">{{totalPoints}}</div>
	</div>
</div>